<%= javascript_include_tag 'gacha'%>

<div class="title">
  <h1>Welcome to the daily Gacha event!</h1>
  <h2>Wanna try your luck?</h2>
</div>
<div class="results" style="display:flex; justify-content:center; color:white; font-size:20px;"></div>
<div style="display:flex; justify-content:center; margin-top: 150px">
  <button type="button" class="btn btn-primary" id="gacha-button">Lets go!</button>
</div>