<h1 align="center" style="color: white; margin-top: 80px; margin-bottom: 300px">WELCOME, HAMSTER.</h1>

<div class="button-container">
  <button type="button" class="welcome-button btn btn-info btn-lg">register</button>
  <button type="button" class="welcome-button btn btn-warning btn-lg">login</button>
</div>

