<h1>Ajax Practice</h1>
<%= javascript_include_tag 'pooh'%>

<div><h3>credit goes to newsapi c:</h3></div>

<div id="news-ticker"><h2>ZURU ZURU BALL</h2>

</div>


<button type="button" class="btn btn-primary" id="ajaxBtn">Zashuu!!!</button>

