// Place all the styles related to the dash controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.greetings{
  color: white;
  text-align: center;
  margin-top: 75px;
}

.button-container{
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.visited {
  background-color: #5bc0de;
  border-color: #46b8da;
  color: #ffffff;
}

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active,
.btn-secondary.visited {
  background-color: #f0ad4e;
  border-color: #eea236;
  color: #ffffff;
}